<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">手机专享</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeMobileEx()">
        <i class="icon ion-ios-close-empty" style="color:#C19E67;"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="bg-green">
    <div class="list card">
      <div class="item item-avatar" >
        <img src="img/icon-user-01.png" style="background-color:#eee;">
        <h2>手机专享特权第一波 - 收益率+1%</h2>
        <p>Mobile Exclusive</p>
      </div>
      <div class="item item-image">
        <img src="img/temp/temp-04.jpg"/>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
