<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">舆情分析</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeNews()">
        <i class="icon ion-ios-close-empty" style="color:#C19E67;"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row sentiment-content">
      <div class="col">
        <div class="title">
          <span></span>关于信托投资门槛你了解多少
        </div>
        <div class="info">
          2015-09-24    南方财富网
        </div>
        <div class="content">
          <p>
            固定收益信托购买门槛和阳光私募类似，仅对合格的机构和个人投资者私募发行，不在公开场合发售，也没有公开的推广。同时，其起点金额较高，每份投资一般不少于100万，且单个信托300万以下的投资者受到50个名额的限制。
          </p>
          <p>
            一般我们了解的信托产品投资门槛基本都是100万起，但信托法规定：100-300万的个人投资者不超过50个人。
          </p>
          <p>
            据报道，个人投资信托产品的门槛将有可能提高，其中“大额”门槛将由300万元提升至600万元，“小额”门槛也有一定幅度提高。据了解，2007年以前，个人投资者参与信托计划的门槛仅为5万元，随着有关法律的修订与实施，其门槛升至100万元，且分为“大额”和“小额”，其中大额门槛为300万元，小额门槛为100万元。虽然信托门槛提高尚未进入操作实施阶段，但对理财市场可能产生较大影响。据天津某大型信托公司业内人士透露，过去两年大部分类固定收益的信托产品都取得了较高收益，很多刚达到100万元的投资者也倾向于信托投资，而一旦门槛提高，这些投资者将会出局。
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
