<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">分享好友</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeShare()">
        <i class="icon ion-ios-close-empty" style="color:#C19E67;"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="bg-green">
    <div class="" style="text-align:center; margin:30px;">
      <i class="iconfont icon-yaoqing" style="color:#C19E67; font-size:128px;"></i>
    </div>
    <div class="padding" style="color:#507E81;font-size:14px;line-height:150%; padding:20px;">
      每位好友实名注册并通过财富认证，将得到 100 元现金奖励。每位好友投资，将得到 350元 以及好友投资额的 0.5%，例如推荐好友投资 100万元，将得到奖励 5000元
    </div>

  </ion-content>
  <div class="bar bar-footer" style="height:120px;">
    <div class="row share">
      <div class="col">
        <i class="iconfont icon-xinlang sina"></i>
        <div>新浪微博</div>
      </div>
      <div class="col">
        <i class="iconfont icon-weixin weixin"></i>
        <div>微信</div>
      </div>
      <div class="col">
        <i class="iconfont icon-pengyouquan pengyouquan"></i>
        <div>朋友圈</div>
      </div>
      <div class="col">
        <i class="iconfont icon-youjian email"></i>
        <div>电子邮件</div>
      </div>
    </div>
  </div>
</ion-modal-view>
