<ion-view view-title="更多">
  <ion-content class="bg-green">

    <ion-list>

      <ion-item type="item-text-wrap" class="item-icon-right item-icon-left" href="#/tab/companyNews">
        <i class="icon ion-document-text"></i>
        新闻公告
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item type="item-text-wrap" class="item-icon-right item-icon-left" href="#/tab/inviteFriends">
        <i class="icon ion-ios-upload-outline"></i>
        邀请好友赚奖励
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item type="item-text-wrap" class="item-icon-right item-icon-left">
        <i class="icon ion-ios-heart-outline"></i>
        给我们平分
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item type="item-text-wrap" class="item-icon-right item-icon-left">
        <i class="icon ion-ios-information-outline"></i>
        关于
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item type="item-text-wrap" class="item-icon-right item-icon-left" href="#/tab/more/test">
        <i class="icon ion-ios-gear-outline"></i>
        各种效果测试
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      
    </ion-list>

  </ion-content>
</ion-view>
