<ion-view view-title="专家建议">

  <ion-content class="bg-green">
    <div class="row" style="background-color:#fff; text-align:center;">
      <div class="col index-info-box">
        <div class="title">东胜投资集合资金信托计划0001</div>
        <div class="type">预期年化收益率</div>
        <div class="yields">8.80% ~ 9.50%</div>
        <div class="other">投资期限（月）24    |    认购门槛：100.00 万元</div>
        <div class="safety"><i class="iconfont icon-baozhengjin2"></i> 申请第三方安全兑付保障</div>
      </div>
    </div>

    <div class="row">
      <div class="tab">
        产品信息
      </div>
      <div class="tab">
        舆情分析
      </div>
      <div class="tab action">
        专家建议
      </div>
    </div>
    <div class="" style="background-color:#fff; margin-top:-5px;">
      <div class="t1">
        产品信息
      </div>
      <div class="t2 act">

        <div class="row">
          <div class="col">
            专家建议，暂无内容
          </div>
        </div>

      </div>
      <div class="t3">
        产品信息内容部分
      </div>
    </div>
  </ion-content>
</ion-view>
