<ion-view view-title="我的礼包" hide-tabs="true">
  <ion-content class="bg-green">

    <ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list card">
      <div class="item item-avatar">
        <img src="img/icon-user-01.png" style="background-color:#eee;">
        <h2>全球顶级学府TOP10任您选</h2>
        <p>University Top 10</p>
      </div>
      <div class="item item-image">
        <img src="img/temp/temp-01.jpg"/>
      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="img/icon-user-01.png" style="background-color:#eee;">
        <h2>高品质国际医疗健康体验</h2>
        <p>International Medical</p>
      </div>
      <div class="item item-image">
        <img src="img/temp/temp-02.jpg"/>
      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar" >
        <img src="img/icon-user-01.png" style="background-color:#eee;">
        <h2>量身定制的专属旅游</h2>
        <p>Custom travel</p>
      </div>
      <div class="item item-image">
        <img src="img/temp/temp-03.jpg"/>
      </div>
    </div>


  </ion-content>
</ion-view>
