<ion-view view-title="产品变现">
  <ion-content class="bg-green">
    <div class="row" style="background-color:#fff; text-align:center;">
      <div class="col index-info-box">
        <div class="title">东胜投资集合资金信托计划0001</div>
        <div class="type">预期年化收益率</div>
        <div class="yields">9.50%</div>
        <div class="other">购买日期：2015年1月1日</div>
        <div class="safety">持有金额：100万元</div>
      </div>
    </div>

    <div class="item item-divider bg-transparent">
      变现信息
    </div>

    <ion-list>
      <ion-item type="item-text-wrap" class="item-icon-right">
        转让总金额
        <span>{{1000000 | currency:"￥"}}</span>
      </ion-item>
      <ion-item type="item-text-wrap" class="item-icon-right">
        变现利率
        <span>9.5%</span>
      </ion-item>
      <ion-item type="item-text-wrap" class="item-icon-right">
        变现服务费金额
        <span>{{20000 | currency:"￥"}}</span>
      </ion-item>
      <ion-item type="item-text-wrap" class="item-icon-right">
        变现服务费率
        <span>2%</span>
      </ion-item>
      <ion-item type="item-text-wrap" class="item-icon-right">
        实际到账金额
        <span>{{980000 | currency:"￥"}}</span>
      </ion-item>
      <ion-item type="item-text-wrap" class="item-icon-right">
        变现提交时间
        <span>2015年6月6日</span>
      </ion-item>
    </ion-list>

    <div class="milestone">
      <div class="title">
        <i></i>
        转让里程碑（时间线）
      </div>
      <div class="line-01">
        <i></i><span>15-01-01</span>
        客户提交变现资产
      </div>
      <div class="line-01">
        <i></i><span>15-01-01</span>
        安金所系统接收,挂牌
      </div>
      <div class="line-01">
        <i></i><span>15-01-01</span>
        摘牌
      </div>
      <div class="line-01">
        <i></i><span>15-01-01</span>
        转让资金汇入转让方账户
      </div>
      <div class="line-01">
        <i></i><span>15-01-01</span>
        信托受益权变更
      </div>
      <div class="line-02">
        <i></i><span>15-01-01</span>
        转让完成
      </div>
    </div>

  </ion-content>
</ion-view>
